@model Expense_Tracker.Models.Settings.Theme

<div class="container mt-5">
    <h2 class="text-center mb-4" style="color: var(--text-color);">Change Theme</h2>
    <form asp-action="SaveTheme" method="post" class="p-4 border rounded shadow-sm" style="background-color: var(--background-color-secondary);">
        <div class="form-group mb-3">
            <label style="color: var(--text-color-secondary);">Select Theme</label>
            <div class="form-check">
                <input asp-for="IsDarkTheme" class="form-check-input" type="radio" value="true" id="darkThemeOption">
                <label class="form-check-label" for="darkThemeOption" style="color: var(--text-color);">Dark Mode</label>
            </div>
            <div class="form-check">
                <input asp-for="IsDarkTheme" class="form-check-input" type="radio" value="false" id="lightThemeOption">
                <label class="form-check-label" for="lightThemeOption" style="color: var(--text-color);">Light Mode</label>
            </div>
        </div>
        <button type="submit" class="btn w-100" style="background-color: var(--button-background-color); color: var(--text-color); border-color: var(--button-border-color);">Save Changes</button>
    </form>
</div>
